In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/marvel.csv')

In [4]:
df

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0
...,...,...,...,...,...,...,...
1685,1685,DC's Legends of Tomorrow,(2016– ),"Action,Adventure,Drama",42 min,"Worlds lived, worlds died. Nothing will ever b...",8.5
1686,1686,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,"In the wake of Lex Luthor's return, the show f...",8.3
1687,1687,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Kara comes face to face with Red Daughter and ...,8.1
1688,1688,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Kara and Lena head to Kaznia to hunt down Lex....,7.4
1689,1689,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Supergirl must deal with the destructive after...,7.5

In [5]:
df.head()

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1690 non-null   int64
 1   Movie        1690 non-null   object
 2   Year         1657 non-null   object
 3   Genre        1683 non-null   object
 4   RunTime      1690 non-null   object
 5   Description  1690 non-null   object
 6   IMDB_Score   1690 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 92.6+ KB

In [7]:
df.describe()

                ID   IMDB_Score
count  1690.000000  1690.000000
mean    844.500000     6.877337
std     488.005294     2.690564
min       0.000000     0.000000
25%     422.250000     6.900000
50%     844.500000     7.800000
75%    1266.750000     8.400000
max    1689.000000     9.600000

In [8]:
df.shape

(1690, 7)

In [9]:
df.columns

Index(['ID', 'Movie', 'Year', 'Genre', 'RunTime', 'Description', 'IMDB_Score'], dtype='object')

In [10]:
df.dtypes

ID               int64
Movie           object
Year            object
Genre           object
RunTime         object
Description     object
IMDB_Score     float64
dtype: object

In [11]:
df.memory_usage()

Index            132
ID             13520
Movie          13520
Year           13520
Genre          13520
RunTime        13520
Description    13520
IMDB_Score     13520
dtype: int64

In [12]:
df.nunique()

ID             1690
Movie           314
Year            147
Genre            90
RunTime         126
Description    1571
IMDB_Score       56
dtype: int64

In [13]:
df['Movie']

0                                Eternals
1                                    Loki
2       The Falcon and the Winter Soldier
3                             WandaVision
4                 Spider-Man: No Way Home
                      ...
1685             DC's Legends of Tomorrow
1686                            Supergirl
1687                            Supergirl
1688                            Supergirl
1689                            Supergirl
Name: Movie, Length: 1690, dtype: object

In [14]:
df[['Movie', 'Year']]

                                  Movie         Year
0                              Eternals        -2021
1                                  Loki     (2021– )
2     The Falcon and the Winter Soldier        -2021
3                           WandaVision        -2021
4               Spider-Man: No Way Home        -2021
...                                 ...          ...
1685           DC's Legends of Tomorrow     (2016– )
1686                          Supergirl  (2015–2021)
1687                          Supergirl  (2015–2021)
1688                          Supergirl  (2015–2021)
1689                          Supergirl  (2015–2021)

[1690 rows x 2 columns]

In [15]:
df.loc[0]

ID                                                             0
Movie                                                   Eternals
Year                                                       -2021
Genre                                     Action,Adventure,Drama
RunTime                                                        0
Description    The saga of the Eternals, a race of immortal b...
IMDB_Score                                                   0.0
Name: 0, dtype: object

In [16]:
df[df['IMDB_Score'] > 9.5]

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
382,382,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"A time storm ravages the Zephyr, propelling it...",9.6
1260,1260,Young Justice,(2010– ),"Animation,Action,Adventure",22 min,The Light calls a summit to decide the final f...,9.6
1303,1303,The Flash,(2014– ),"Action,Adventure,Drama",44 min,"With the Particle Accelerator back online, Bar...",9.6

In [17]:
df.query('ID > 100 and IMDB_Score > 9')

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
180,180,WandaVision,-2021,"Action,Comedy,Drama",42 min,Wanda addresses Vision's worries when he grows...,9.1
278,278,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"After her dramatic rescue from another planet,...",9.3
283,283,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",42 min,"S.H.I.E.L.D battles Hydra head-to-head, which ...",9.1
295,295,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"In the conclusion to ""Absolution,"" S.H.I.E.L.D...",9.1
308,308,The Punisher,(2017–2019),"Action,Crime,Drama",49 min,An attack on a high-profile politician is exam...,9.2
...,...,...,...,...,...,...,...
1576,1576,The Flash,(2014– ),"Action,Adventure,Drama",42 min,Barry and Team Flash come up with a plan to st...,9.1
1614,1614,Doom Patrol,(2019– ),"Action,Adventure,Comedy",45 min,Jane retreats into a treacherous place in her ...,9.1
1625,1625,Lucifer,(2016– ),"Crime,Drama,Fantasy",48 min,While investigating a beekeeper's murder with ...,9.2
1636,1636,Watchmen,-2019,"Action,Drama,Mystery",63 min,"Doctor Manhattan meets Angela, setting the sta...",9.5
1651,1651,Watchmen,-2019,"Action,Drama,Mystery",61 min,"Deep under the influence of Nostalgia, Angela ...",9.2

In [18]:
df.isnull()

         ID  Movie   Year  Genre  RunTime  Description  IMDB_Score
0     False  False  False  False    False        False       False
1     False  False  False  False    False        False       False
2     False  False  False  False    False        False       False
3     False  False  False  False    False        False       False
4     False  False  False  False    False        False       False
...     ...    ...    ...    ...      ...          ...         ...
1685  False  False  False  False    False        False       False
1686  False  False  False  False    False        False       False
1687  False  False  False  False    False        False       False
1688  False  False  False  False    False        False       False
1689  False  False  False  False    False        False       False

[1690 rows x 7 columns]

In [19]:
df.notnull()

        ID  Movie  Year  Genre  RunTime  Description  IMDB_Score
0     True   True  True   True     True         True        True
1     True   True  True   True     True         True        True
2     True   True  True   True     True         True        True
3     True   True  True   True     True         True        True
4     True   True  True   True     True         True        True
...    ...    ...   ...    ...      ...          ...         ...
1685  True   True  True   True     True         True        True
1686  True   True  True   True     True         True        True
1687  True   True  True   True     True         True        True
1688  True   True  True   True     True         True        True
1689  True   True  True   True     True         True        True

[1690 rows x 7 columns]

In [20]:
 df.isnull().sum()

ID              0
Movie           0
Year           33
Genre           7
RunTime         0
Description     0
IMDB_Score      0
dtype: int64

In [21]:
df.isnull()

         ID  Movie   Year  Genre  RunTime  Description  IMDB_Score
0     False  False  False  False    False        False       False
1     False  False  False  False    False        False       False
2     False  False  False  False    False        False       False
3     False  False  False  False    False        False       False
4     False  False  False  False    False        False       False
...     ...    ...    ...    ...      ...          ...         ...
1685  False  False  False  False    False        False       False
1686  False  False  False  False    False        False       False
1687  False  False  False  False    False        False       False
1688  False  False  False  False    False        False       False
1689  False  False  False  False    False        False       False

[1690 rows x 7 columns]

In [22]:
df.notnull()

        ID  Movie  Year  Genre  RunTime  Description  IMDB_Score
0     True   True  True   True     True         True        True
1     True   True  True   True     True         True        True
2     True   True  True   True     True         True        True
3     True   True  True   True     True         True        True
4     True   True  True   True     True         True        True
...    ...    ...   ...    ...      ...          ...         ...
1685  True   True  True   True     True         True        True
1686  True   True  True   True     True         True        True
1687  True   True  True   True     True         True        True
1688  True   True  True   True     True         True        True
1689  True   True  True   True     True         True        True

[1690 rows x 7 columns]

In [24]:
df.isnull().sum()

ID              0
Movie           0
Year           33
Genre           7
RunTime         0
Description     0
IMDB_Score      0
dtype: int64

In [26]:
df=df[df['Year'].notnull()]
# games=games[games['PTS_home'].notnull()]

In [27]:
df.isnull().sum()

ID             0
Movie          0
Year           0
Genre          7
RunTime        0
Description    0
IMDB_Score     0
dtype: int64

In [28]:
df=df[df['Genre'].notnull()]

In [29]:
df.isnull().sum()

ID             0
Movie          0
Year           0
Genre          0
RunTime        0
Description    0
IMDB_Score     0
dtype: int64

In [32]:
dd=pd.read_csv('superhero.csv')

In [33]:
dd

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Sword,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Shield,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,Hammer,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77
...,...,...,...,...,...,...,...,...,...,...
195,Doctor Strange #10,DC,Villain,7.0,5.0,8.0,1,Sword,68,9
196,Hulk #10,DC,Anti-Hero,9.0,2.0,6.0,8,Shield,90,38
197,Aquaman #10,DC,Hero,3.0,3.0,7.0,7,Sword,97,48
198,Catwoman #10,Marvel,Hero,9.0,NaN,3.0,7,Magic,42,60
199,Wolverine #10,Marvel,Hero,1.0,6.0,NaN,3,Bow,95,63

In [34]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              200 non-null    object
 1   Universe          200 non-null    object
 2   Alignment         200 non-null    object
 3   Strength          190 non-null    float64
 4   Speed             190 non-null    float64
 5   Intelligence      190 non-null    float64
 6   Combat Skill      200 non-null    int64
 7   Weapon            171 non-null    object
 8   Power Score       200 non-null    int64
 9   Popularity Score  200 non-null    int64
dtypes: float64(3), int64(3), object(4)
memory usage: 15.8+ KB

In [35]:
dd.isnull().sum()

Name                 0
Universe             0
Alignment            0
Strength            10
Speed               10
Intelligence        10
Combat Skill         0
Weapon              29
Power Score          0
Popularity Score     0
dtype: int64

In [37]:
dd=dd[dd['Strength'].notnull()]

In [38]:
dd.isnull().sum()

Name                 0
Universe             0
Alignment            0
Strength             0
Speed               10
Intelligence        10
Combat Skill         0
Weapon              25
Power Score          0
Popularity Score     0
dtype: int64

In [39]:
dd=dd[dd['Speed'].notnull()]

In [40]:
dd.isnull().sum()

Name                 0
Universe             0
Alignment            0
Strength             0
Speed                0
Intelligence         9
Combat Skill         0
Weapon              24
Power Score          0
Popularity Score     0
dtype: int64

In [42]:
dd=dd[dd['Weapon'].notnull()]

In [43]:
dd.isnull().sum()

Name                0
Universe            0
Alignment           0
Strength            0
Speed               0
Intelligence        8
Combat Skill        0
Weapon              0
Power Score         0
Popularity Score    0
dtype: int64

In [44]:
dd=dd[dd['Intelligence'].notnull()]

In [45]:
dd.isnull().sum()

Name                0
Universe            0
Alignment           0
Strength            0
Speed               0
Intelligence        0
Combat Skill        0
Weapon              0
Power Score         0
Popularity Score    0
dtype: int64

In [46]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148 entries, 0 to 197
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              148 non-null    object
 1   Universe          148 non-null    object
 2   Alignment         148 non-null    object
 3   Strength          148 non-null    float64
 4   Speed             148 non-null    float64
 5   Intelligence      148 non-null    float64
 6   Combat Skill      148 non-null    int64
 7   Weapon            148 non-null    object
 8   Power Score       148 non-null    int64
 9   Popularity Score  148 non-null    int64
dtypes: float64(3), int64(3), object(4)
memory usage: 12.7+ KB

In [47]:
dd.head()

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Sword,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Shield,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,Hammer,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77

In [48]:
dd.describe()

,Strength,Speed,Intelligence,Combat Skill,Power Score,Popularity Score
count,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000
mean,5.466216,5.493243,5.621622,5.290541,71.270270,52.229730
std,2.937942,2.844009,2.933284,2.914317,18.206523,29.221671
min,1.000000,1.000000,1.000000,1.000000,40.000000,1.000000
25%,3.000000,3.000000,3.000000,3.000000,54.000000,27.000000
50%,5.000000,5.000000,6.000000,5.000000,73.000000,51.000000
75%,8.000000,8.000000,8.000000,8.000000,87.250000,78.000000
max,10.000000,10.000000,10.000000,10.000000,100.000000,100.000000

In [52]:
dd['Strength']

0      1.0
1      5.0
2      3.0
3      1.0
4      4.0
      ...
193    1.0
194    7.0
195    7.0
196    9.0
197    3.0
Name: Strength, Length: 148, dtype: float64

In [54]:
dd.query('Strength>4.0 and Speed>4.0')

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
10,Loki #1,Marvel,Anti-Hero,9.0,7.0,1.0,6,Claws,61,40
13,Harley Quinn #1,Marvel,Anti-Hero,10.0,10.0,10.0,5,Claws,57,59
19,Wolverine #1,Marvel,Hero,7.0,5.0,8.0,10,Sword,41,89
21,Batman #2,Marvel,Hero,10.0,5.0,10.0,9,Bow,74,42
25,Wonder Woman #2,DC,Villain,8.0,5.0,5.0,8,Bow,98,38
30,Loki #2,Marvel,Anti-Hero,10.0,5.0,3.0,6,Magic,71,58
32,Superman #2,DC,Hero,10.0,7.0,7.0,7,Shield,74,23
35,Doctor Strange #2,Marvel,Anti-Hero,9.0,10.0,8.0,1,Hammer,85,32
36,Hulk #2,DC,Villain,8.0,10.0,4.0,1,Claws,91,53
38,Catwoman #2,Marvel,Hero,7.0,6.0,4.0,2,Sword,88,39
39,Wolverine #2,Marvel,Hero,9.0,7.0,8.0,5,Sword,68,31
48,Deadpool #3,DC,Anti-Hero,7.0,6.0,5.0,7,Claws,49,66
52,Superman #3,Marvel,Villain,10.0,6.0,5.0,4,Magic,59,27
55,Doctor Strange #3,DC,Villain,10.0,7.0,5.0,7,Shield,69,98
56,Hulk #3,DC,Hero,6.0,9.0,9.0,4,Magic,88,60
61,Batman #4,Marvel,Anti-Hero,6.0,6.0,9.0,7,Hammer,69,83
62,Joker #4,Marvel,Hero,5.0,7.0,10.0,1,Bow,89,30
66,Spider-Man #4,DC,Anti-Hero,5.0,7.0,8.0,10,Sword,64,98
69,Black Panther #4,DC,Villain,6.0,10.0,4.0,1,Bow,92,60
72,Superman #4,Marvel,Hero,7.0,9.0,1.0,4,Claws,48,37
73,Harley Quinn #4,DC,Hero,8.0,7.0,3.0,8,Psychic,54,93
79,Wolverine #4,DC,Villain,8.0,8.0,8.0,2,Magic,98,68
81,Batman #5,DC,Anti-Hero,10.0,6.0,10.0,3,Shield,76,64
82,Joker #5,Marvel,Anti-Hero,7.0,5.0,8.0,4,Magic,100,17
84,Thanos #5,Marvel,Anti-Hero,5.0,10.0,7.0,10,Psychic,82,22
86,Spider-Man #5,DC,Anti-Hero,5.0,6.0,7.0,4,Shield,45,10
87,Green Lantern #5,Marvel,Villain,7.0,5.0,2.0,10,Hammer,78,65
88,Deadpool #5,DC,Hero,9.0,5.0,10.0,8,Magic,95,22
95,Doctor Strange #5,DC,Hero,6.0,9.0,10.0,8,Psychic,46,29
98,Catwoman #5,DC,Hero,5.0,5.0,1.0,1,Shield,98,99
102,Joker #6,DC,Villain,6.0,7.0,9.0,5,Hammer,93,29
103,Thor #6,DC,Anti-Hero,7.0,9.0,1.0,8,Magic,92,11
107,Green Lantern #6,DC,Hero,5.0,8.0,10.0,1,Sword,49,32
109,Black Panther #6,Marvel,Anti-Hero,9.0,8.0,9.0,9,Tech,73,75
110,Loki #6,DC,Villain,5.0,10.0,2.0,6,Sword,96,58
113,Harley Quinn #6,DC,Hero,5.0,8.0,2.0,9,Tech,88,98
116,Hulk #6,Marvel,Anti-Hero,5.0,5.0,1.0,1,Bow,95,29
117,Aquaman #6,DC,Anti-Hero,7.0,9.0,3.0,5,Sword,45,4
121,Batman #7,Marvel,Anti-Hero,7.0,9.0,6.0,6,Bow,86,39
129,Black Panther #7,DC,Hero,10.0,5.0,1.0,5,Sword,100,78
130,Loki #7,DC,Anti-Hero,10.0,9.0,5.0,9,Sword,98,84
132,Superman #7,Marvel,Hero,10.0,10.0,5.0,9,Hammer,74,75
135,Doctor Strange #7,Marvel,Anti-Hero,5.0,5.0,7.0,9,Shield,56,81
158,Catwoman #8,Marvel,Hero,7.0,5.0,2.0,1,Claws,48,24
161,Batman #9,Marvel,Anti-Hero,8.0,5.0,3.0,10,Sword,73,15
162,Joker #9,DC,Anti-Hero,10.0,7.0,5.0,2,Bow,51,80
163,Thor #9,DC,Hero,10.0,5.0,6.0,5,Magic,81,27
170,Loki #9,DC,Villain,10.0,5.0,4.0,4,Psychic,98,53
171,Captain America #9,Marvel,Villain,5.0,9.0,1.0,6,Shield,73,8
177,Aquaman #9,Marvel,Anti-Hero,9.0,8.0,3.0,7,Magic,98,3
179,Wolverine #9,Marvel,Villain,10.0,8.0,6.0,8,Claws,87,64
180,Iron Man #10,Marvel,Hero,5.0,7.0,2.0,3,Magic,65,44
181,Batman #10,Marvel,Villain,9.0,10.0,8.0,1,Claws,57,53
182,Joker #10,DC,Hero,8.0,10.0,10.0,8,Psychic,45,24
189,Black Panther #10,DC,Hero,7.0,6.0,4.0,6,Claws,52,94
190,Loki #10,Marvel,Hero,8.0,5.0,1.0,1,Sword,56,78
191,Captain America #10,Marvel,Villain,7.0,9.0,5.0,2,Shield,89,71
194,Flash #10,Marvel,Hero,7.0,5.0,9.0,4,Bow,71,100
195,Doctor Strange #10,DC,Villain,7.0,5.0,8.0,1,Sword,68,9

In [53]:
dd.head()

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Sword,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Shield,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,Hammer,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77

In [55]:
dd.shape

(148, 10)

In [57]:
dd['Weapon']

0       Sword
1      Shield
2      Hammer
3       Claws
4       Claws
        ...
193    Hammer
194       Bow
195     Sword
196    Shield
197     Sword
Name: Weapon, Length: 148, dtype: object

In [65]:
dd['Weapon'].unique()

array(['Sword', 'Shield', 'Hammer', 'Claws', 'Bow', 'Psychic', 'Magic',
       'Tech'], dtype=object)

In [69]:
dd.at[1,'Weapon']='Tech'

In [70]:
dd['Weapon']

0       Sword
1        Tech
2      Hammer
3       Claws
4       Claws
        ...
193    Hammer
194       Bow
195     Sword
196    Shield
197     Sword
Name: Weapon, Length: 148, dtype: object

In [71]:
dd.at[1,'Weapon']='Rich'

In [72]:
dd['Weapon']

0       Sword
1        Rich
2      Hammer
3       Claws
4       Claws
        ...
193    Hammer
194       Bow
195     Sword
196    Shield
197     Sword
Name: Weapon, Length: 148, dtype: object

In [73]:
dd.at[0,'Weapon']='Tech'

In [74]:
dd['Weapon']

0        Tech
1        Rich
2      Hammer
3       Claws
4       Claws
        ...
193    Hammer
194       Bow
195     Sword
196    Shield
197     Sword
Name: Weapon, Length: 148, dtype: object

In [75]:
dd

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Tech,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Rich,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,Hammer,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77
...,...,...,...,...,...,...,...,...,...,...
193,Harley Quinn #10,Marvel,Villain,1.0,7.0,1.0,3,Hammer,84,84
194,Flash #10,Marvel,Hero,7.0,5.0,9.0,4,Bow,71,100
195,Doctor Strange #10,DC,Villain,7.0,5.0,8.0,1,Sword,68,9
196,Hulk #10,DC,Anti-Hero,9.0,2.0,6.0,8,Shield,90,38
197,Aquaman #10,DC,Hero,3.0,3.0,7.0,7,Sword,97,48

In [76]:
dd.at[2,'Weapon']='venom'

In [77]:
dd.head()

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Tech,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Rich,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,venom,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Claws,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77

In [78]:
dd.at[3,'Weapon']='Hammer'

In [79]:
dd.head()

,Name,Universe,Alignment,Strength,Speed,Intelligence,Combat Skill,Weapon,Power Score,Popularity Score
0,Iron Man #1,Marvel,Anti-Hero,1.0,1.0,2.0,5,Tech,65,40
1,Batman #1,DC,Anti-Hero,5.0,4.0,6.0,2,Rich,94,98
2,Joker #1,Marvel,Hero,3.0,9.0,2.0,5,venom,62,40
3,Thor #1,Marvel,Hero,1.0,6.0,2.0,8,Hammer,83,91
4,Thanos #1,Marvel,Villain,4.0,3.0,2.0,9,Claws,78,77