In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('marvel.csv')

In [9]:
df

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0
...,...,...,...,...,...,...,...
1685,1685,DC's Legends of Tomorrow,(2016– ),"Action,Adventure,Drama",42 min,"Worlds lived, worlds died. Nothing will ever b...",8.5
1686,1686,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,"In the wake of Lex Luthor's return, the show f...",8.3
1687,1687,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Kara comes face to face with Red Daughter and ...,8.1
1688,1688,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Kara and Lena head to Kaznia to hunt down Lex....,7.4
1689,1689,Supergirl,(2015–2021),"Action,Adventure,Drama",42 min,Supergirl must deal with the destructive after...,7.5

In [10]:
df.head()

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
0,0,Eternals,-2021,"Action,Adventure,Drama",0,"The saga of the Eternals, a race of immortal b...",0.0
1,1,Loki,(2021– ),"Action,Adventure,Fantasy",0,A new Marvel chapter with Loki at its center.,0.0
2,2,The Falcon and the Winter Soldier,-2021,"Action,Adventure,Drama",50 min,"Following the events of 'Avengers: Endgame,' S...",7.5
3,3,WandaVision,-2021,"Action,Comedy,Drama",350 min,Blends the style of classic sitcoms with the M...,8.1
4,4,Spider-Man: No Way Home,-2021,"Action,Adventure,Sci-Fi",0,A continuation of Spider-Man: Far From Home.,0.0

In [11]:
df.info

<bound method DataFrame.info of         ID                              Movie         Year  \
0        0                           Eternals        -2021
1        1                               Loki     (2021– )
2        2  The Falcon and the Winter Soldier        -2021
3        3                        WandaVision        -2021
4        4            Spider-Man: No Way Home        -2021
...    ...                                ...          ...
1685  1685           DC's Legends of Tomorrow     (2016– )
1686  1686                          Supergirl  (2015–2021)
1687  1687                          Supergirl  (2015–2021)
1688  1688                          Supergirl  (2015–2021)
1689  1689                          Supergirl  (2015–2021)

                         Genre  RunTime  \
0       Action,Adventure,Drama        0
1     Action,Adventure,Fantasy        0
2       Action,Adventure,Drama   50 min
3          Action,Comedy,Drama  350 min
4      Action,Adventure,Sci-Fi        0
...                        ...      ...
1685    Action,Adventure,Drama   42 min
1686    Action,Adventure,Drama   42 min
1687    Action,Adventure,Drama   42 min
1688    Action,Adventure,Drama   42 min
1689    Action,Adventure,Drama   42 min

                                            Description  IMDB_Score
0     The saga of the Eternals, a race of immortal b...         0.0
1         A new Marvel chapter with Loki at its center.         0.0
2     Following the events of 'Avengers: Endgame,' S...         7.5
3     Blends the style of classic sitcoms with the M...         8.1
4          A continuation of Spider-Man: Far From Home.         0.0
...                                                 ...         ...
1685  Worlds lived, worlds died. Nothing will ever b...         8.5
1686  In the wake of Lex Luthor's return, the show f...         8.3
1687  Kara comes face to face with Red Daughter and ...         8.1
1688  Kara and Lena head to Kaznia to hunt down Lex....         7.4
1689  Supergirl must deal with the destructive after...         7.5

[1690 rows x 7 columns]>

In [12]:
df.describe()

                ID   IMDB_Score
count  1690.000000  1690.000000
mean    844.500000     6.877337
std     488.005294     2.690564
min       0.000000     0.000000
25%     422.250000     6.900000
50%     844.500000     7.800000
75%    1266.750000     8.400000
max    1689.000000     9.600000

In [13]:
df.shape

(1690, 7)

In [14]:
df.columns

Index(['ID', 'Movie', 'Year', 'Genre', 'RunTime', 'Description', 'IMDB_Score'], dtype='object')

In [15]:
df.dtypes

ID               int64
Movie           object
Year            object
Genre           object
RunTime         object
Description     object
IMDB_Score     float64
dtype: object

In [16]:
df.memory_usage()

Index            132
ID             13520
Movie          13520
Year           13520
Genre          13520
RunTime        13520
Description    13520
IMDB_Score     13520
dtype: int64

In [17]:
df.nunique()

ID             1690
Movie           314
Year            147
Genre            90
RunTime         126
Description    1571
IMDB_Score       56
dtype: int64

In [18]:
df['Movie']

0                                Eternals
1                                    Loki
2       The Falcon and the Winter Soldier
3                             WandaVision
4                 Spider-Man: No Way Home
                      ...
1685             DC's Legends of Tomorrow
1686                            Supergirl
1687                            Supergirl
1688                            Supergirl
1689                            Supergirl
Name: Movie, Length: 1690, dtype: object

In [19]:
df[['Movie', 'Year']]

                                  Movie         Year
0                              Eternals        -2021
1                                  Loki     (2021– )
2     The Falcon and the Winter Soldier        -2021
3                           WandaVision        -2021
4               Spider-Man: No Way Home        -2021
...                                 ...          ...
1685           DC's Legends of Tomorrow     (2016– )
1686                          Supergirl  (2015–2021)
1687                          Supergirl  (2015–2021)
1688                          Supergirl  (2015–2021)
1689                          Supergirl  (2015–2021)

[1690 rows x 2 columns]

In [20]:
df.loc[0]

ID                                                             0
Movie                                                   Eternals
Year                                                       -2021
Genre                                     Action,Adventure,Drama
RunTime                                                        0
Description    The saga of the Eternals, a race of immortal b...
IMDB_Score                                                   0.0
Name: 0, dtype: object

In [21]:
df[df['IMDB_Score'] > 9.5]

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
382,382,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"A time storm ravages the Zephyr, propelling it...",9.6
1260,1260,Young Justice,(2010– ),"Animation,Action,Adventure",22 min,The Light calls a summit to decide the final f...,9.6
1303,1303,The Flash,(2014– ),"Action,Adventure,Drama",44 min,"With the Particle Accelerator back online, Bar...",9.6

In [22]:
df.query('ID > 100 and IMDB_Score > 9')

,ID,Movie,Year,Genre,RunTime,Description,IMDB_Score
180,180,WandaVision,-2021,"Action,Comedy,Drama",42 min,Wanda addresses Vision's worries when he grows...,9.1
278,278,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"After her dramatic rescue from another planet,...",9.3
283,283,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",42 min,"S.H.I.E.L.D battles Hydra head-to-head, which ...",9.1
295,295,Agents of S.H.I.E.L.D.,(2013–2020),"Action,Adventure,Drama",43 min,"In the conclusion to ""Absolution,"" S.H.I.E.L.D...",9.1
308,308,The Punisher,(2017–2019),"Action,Crime,Drama",49 min,An attack on a high-profile politician is exam...,9.2
...,...,...,...,...,...,...,...
1576,1576,The Flash,(2014– ),"Action,Adventure,Drama",42 min,Barry and Team Flash come up with a plan to st...,9.1
1614,1614,Doom Patrol,(2019– ),"Action,Adventure,Comedy",45 min,Jane retreats into a treacherous place in her ...,9.1
1625,1625,Lucifer,(2016– ),"Crime,Drama,Fantasy",48 min,While investigating a beekeeper's murder with ...,9.2
1636,1636,Watchmen,-2019,"Action,Drama,Mystery",63 min,"Doctor Manhattan meets Angela, setting the sta...",9.5
1651,1651,Watchmen,-2019,"Action,Drama,Mystery",61 min,"Deep under the influence of Nostalgia, Angela ...",9.2

In [23]:
df.isnull()

         ID  Movie   Year  Genre  RunTime  Description  IMDB_Score
0     False  False  False  False    False        False       False
1     False  False  False  False    False        False       False
2     False  False  False  False    False        False       False
3     False  False  False  False    False        False       False
4     False  False  False  False    False        False       False
...     ...    ...    ...    ...      ...          ...         ...
1685  False  False  False  False    False        False       False
1686  False  False  False  False    False        False       False
1687  False  False  False  False    False        False       False
1688  False  False  False  False    False        False       False
1689  False  False  False  False    False        False       False

[1690 rows x 7 columns]

In [24]:
df.notnull()

        ID  Movie  Year  Genre  RunTime  Description  IMDB_Score
0     True   True  True   True     True         True        True
1     True   True  True   True     True         True        True
2     True   True  True   True     True         True        True
3     True   True  True   True     True         True        True
4     True   True  True   True     True         True        True
...    ...    ...   ...    ...      ...          ...         ...
1685  True   True  True   True     True         True        True
1686  True   True  True   True     True         True        True
1687  True   True  True   True     True         True        True
1688  True   True  True   True     True         True        True
1689  True   True  True   True     True         True        True

[1690 rows x 7 columns]

In [25]:
df.isnull()

         ID  Movie   Year  Genre  RunTime  Description  IMDB_Score
0     False  False  False  False    False        False       False
1     False  False  False  False    False        False       False
2     False  False  False  False    False        False       False
3     False  False  False  False    False        False       False
4     False  False  False  False    False        False       False
...     ...    ...    ...    ...      ...          ...         ...
1685  False  False  False  False    False        False       False
1686  False  False  False  False    False        False       False
1687  False  False  False  False    False        False       False
1688  False  False  False  False    False        False       False
1689  False  False  False  False    False        False       False

[1690 rows x 7 columns]

In [27]:
df.notnull()

        ID  Movie  Year  Genre  RunTime  Description  IMDB_Score
0     True   True  True   True     True         True        True
1     True   True  True   True     True         True        True
2     True   True  True   True     True         True        True
3     True   True  True   True     True         True        True
4     True   True  True   True     True         True        True
...    ...    ...   ...    ...      ...          ...         ...
1685  True   True  True   True     True         True        True
1686  True   True  True   True     True         True        True
1687  True   True  True   True     True         True        True
1688  True   True  True   True     True         True        True
1689  True   True  True   True     True         True        True

[1690 rows x 7 columns]